@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0482de;
}

.eina {
  font-family: var(--font-eina);
}

.eina-light {
  font-family: var(--font-eina-light);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 590px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 770px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1010px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1210px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1210px;
  }
}

html {
  @apply h-full scroll-smooth antialiased;
}

body {
  @apply flex h-full flex-col;
}

main {
  @apply grow;
}

blockquote {
  background: rgba(232, 255, 114, 0.1);
  padding: 32px 32px 32px 56px;
  font-size: 18px;
  position: relative;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote:before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 64px);
  left: 32px;
  top: 32px;
  background: #e8ff72;
}

@media screen and (max-width: 600px) {
  blockquote {
    font-size: 16px;
    margin-left: -2.25rem;
    margin-right: -2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 28px;
  }

  blockquote:before {
    display: none;
  }
}

ol > li > p {
  display: inline;
}
